.container {
    border: 1px solid black;
    margin-left: 20px;
    margin-right: 20px;
    position: fixed;
    bottom: 100px;

}

.menu-container {
    width: 23%;
    height: 100%;
    display: inline-block;
    margin: auto;
    padding: 10px;
    vertical-align: bottom;

}

.inventory-table {
    margin: 0 auto;
    padding-top: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.inventory-cell {
    margin: 1px;
    padding: 3px;
    height: 50px;
    width: 50px;
    border: 1px solid black;
}

.inventory-item {
    height: 100%;
    width: 100%;
    background-size: contain;
    font-size: 10pt;
}

#selected-inventory-container {
    float: right;
}

#player-inventory-container {
    padding-left: 30px;
}
