:root {
  --container-bg-color: #000066;
  --text-color: white;
  --action-button-bg-color: white;
  --action-button-text-color: black;

  --default-box-shadow: 5px 5px 3px #888888;
  --text-box-shadow: 3px 3px 2px #888888;
}

@font-face {
    font-family: HouseScript; src: url('SignPainter-HouseScript.TTF');
}



.container {
    opacity: .5;
    border: 1px solid black;
    height: 700px;
    width: 1300px;
    bottom: 0px;
    margin: 0 auto;
    position: relative;
    background-color: var(--container-bg-color);
}
.menu-container {
    width: 21%;
    display: inline-block;
    border: 1px solid black;
}

.inventory-table-wrapper {
    padding-top: 10px;
    padding-bottom: 0px;
    text-align: center;
    margin-bottom: 10px;
}

.inventory-table-wrapper p {
    margin: 15px;
    font-family: HouseScript;
    font-size: 30pt;
    color: var(--text-color);
    text-shadow: var(--text-box-shadow);
}

.inventory-table {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: white;
    vertical-align: bottom;
    border: 1px solid black;
    box-shadow: var(--default-box-shadow);

}

.inventory-cell {
    display: inline-block;
    margin: 1px;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    background-color: var(--container-bg-color);
}

.inventory-item {
    height: 100%;
    width: 100%;
    background-size: contain;
    font-size: 10pt;
    opacity: 1;
    color: black;
    text-align: left;
}

.inventory-item span {
    background-color: white;
    padding-left: 1px;
    padding-right: 2px;
}

.action-button-container {
    display: flex;
    flex-wrap: wrap;
}

.action-button {
    margin: 5px;
    background-color: var(--action-button-bg-color);
    color: var(--action-button-text-color);
    font-family: HouseScript;
    font-size: 24pt;
    height: 50px;
    width: 120px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    border-radius: 5px;
    box-shadow: var(--text-box-shadow);

}

#player-inventory-container {
    position: absolute;
    bottom: 0px;
    margin-left: 10px;
}

#selected-inventory-container {
    position: absolute;
    margin-right: 10px;
    right: 0px;
    bottom: 0px;
}

#main-action-button-container {
    position: absolute;
    width: 40%;
    top: 50%;
    left: 30%;
}

/*
.menu-container {
    width: 21%;
    display: inline-block;
}

.inventory-table-wrapper {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: white;
    vertical-align: bottom;

}

.inventory-cell {
    margin: 1px;
    padding: 3px;
    height: 50px;
    width: 50px;
    border: 1px solid black;
}

.inventory-item {
    height: 100%;
    width: 100%;
    background-size: contain;
    font-size: 10pt;
}


 */
